body{
    background-image: url( https://bit.ly/38sj6Ha);
}
h1{
text-align: center;
font-family: 'Patua One', cursive;
}

p{
    font-size: 25px;
}

h2{
    text-align: center;
    font-family: 'Archivo Black', sans-serif ;
    padding-bottom: 30px;
}
h3{
    font-size: 30px;
    text-align: center;
    padding-right: 80px;
    padding-top: 30px;

}
.radio{
    font-size: 25px;
    padding-left: 435px;
}
.submit{
    padding-left: 450px;
    padding-top: 50px;
    padding-bottom: 30px;
}
